{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   <script type="text/javascript" src="{% static 'js/main.js' %}" defer ></script>
{% endblock %}
{% block title %}Dashbord{% endblock %}
{% block main %}
 <div class="container my-3 mx-auto rounded" style="max-width: 98%;">
     <!-- Example Code -->
      <div class="mb-2 ">
        <div class='col-12 py-2 bg-primary text-white d-flex justify-content-between 'data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
            <div><i class="bi bi-speedometer mx-2 small-xx"></i> Manage your Dashboard</div>
            <div><i class="bi bi-layout-sidebar-inset mx-2 small-xx"></i></div>
        </div>
      </div>  
      <div class="offcanvas offcanvas-start mx-3  " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
        </div>
        <div class="mx-4" >
            {% if user.avatar and not form.avatar.errors %}
                               
            <img src="{{ user.avatar.url }}" alt="Avatar"
                class="img-fluid rounded-circle shadow m-auto" style="width:40px;"/>
            
            {% endif %} {{user.last_name }}</div>
        <div class="offcanvas-body">
          <div class="my-3 mx-3">
            <div class="row gap-2" id="" role="tablist">
              <div class="col-12 col-sm-12 p-2 active rounded border-bottom shadow bg-primary  text-white">
                <div class="ms-3 me-auto ">
                    <div class="fw-bold my-2 ">Manage product</div>
                    <div class="col-12 col-sm-12 px-2 py-1 active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="bi bi-plus-square mx-2"></i> Add product</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="bi bi-plus-square mx-2"></i>order product</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="bi bi-plus-square mx-2"></i> sell product</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false"><i class="bi bi-plus-square mx-2"></i>purchsded product</div>
                    <div class="fw-bold my-2 ">Manage Order</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-order-tab" data-bs-toggle="tab" data-bs-target="#nav-order" type="button" role="tab" aria-controls="nav-order" aria-selected="false"><i class="bi bi-plus-square mx-2"></i> Creart product</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-list-order-tab" data-bs-toggle="tab" data-bs-target="#nav-list-order" type="button" role="tab" aria-controls="nav-list-order" aria-selected="false"><i class="bi bi-plus-square mx-2"></i>List product</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-previous-order-tab" data-bs-toggle="tab" data-bs-target="#nav-previous-order" type="button" role="tab" aria-controls="nav-previous-order" aria-selected="false"><i class="bi bi-plus-square mx-2"></i> sell product</div>
                    <div class="col-12 col-sm-12 px-2 py-1" id="nav-delete-order-tab" data-bs-toggle="tab" data-bs-target="#nav-delete-order" type="button" role="tab" aria-controls="nav-delete-order" aria-selected="false"><i class="bi bi-plus-square mx-2"></i>purchsded product</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content mx-2" id="nav-tabContent">
            <div class="tab-pane fade show active border" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="mx-2 my-3">
                    Some text as placeholder. In real life you can have the elements you
                    have chosen. Like, text, images, lists, etc.
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0"> 
                profile
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                contact
            </div>
            <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
                disabled
            </div>       
            <div class="tab-pane fade border" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab" tabindex="0">
                <div class="mx-2 my-3 ">
                nav-order Some text as placeholder. In real life you can have the elements you
                have chosen. Like, text, images, lists, etc.
                </div>
            
            </div>
            <div class="tab-pane fade" id="nav-list-order" role="tabpanel" aria-labelledby="nav-list-order-tab" tabindex="0"> 
                list-order
            </div>
            <div class="tab-pane fade" id="nav-previous-order" role="tabpanel" aria-labelledby="nav-previous-order-tab" tabindex="0">
             the Previous
            </div>
            <div class="tab-pane fade" id="nav-delete-order" role="tabpanel" aria-labelledby="nav-delete-order-tab" tabindex="0">
                delete-order
            </div>
        </div>
      <!-- End Example Code -->
 </div>
{% endblock %}