{% extends "_base.html" %}
{% load static %}
{% block javascript %}
   <script type="text/javascript" src="{% static 'js/main.js' %}" defer ></script>
{% endblock %}
{% block title %} Services Listing{% endblock %}
{% block main %}
    
    <div class="container my-3 mx-auto rounded" style="max-width: 98%;">
        {% if searched_list %}
            {% for service in searched_list %}
                {{service.service_name}}
            {% endfor %}      
        {% endif %}

    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="heading">
                    <div class="card-header bg-white text-center my-3 border-bottom">
                        <h6>Top Sell</h6>
                    </div>
                </div>
                  <div class="images-section">
                  <div class="product-box">
                      <div class="image-wrapper">
                          <div class="image-box" style="background-image: url('/static/images/topsell1.jpg');">
                        <div class="add-to-cart">
                          <span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        </div>
                      </div>
                          <div class="price-box">
                             <h1>Bearings</h1>
                            <h5>Rs 2500</h5>
                        </div>
                    </div>
                  </div>
            
                  <div class="product-box">
                    <div class="image-wrapper">
                        <div class="image-box" style="background-image: url('/static/images/topsell2.jpg');">
                            <div class="add-to-cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></div>
                        </div>
                        <div class="price-box">
                            <h1>Engen Parts</h1>
                            <h5>Rs 2500</h5>
                        </div>
                    </div>
                  </div>
                  <div class="product-box">
                    <div class="image-wrapper">
                        <div class="image-box" style="background-image: url('/static/images/topsell3.jpg');">
                            <div class="add-to-cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></div>
                        </div>
                        <div class="price-box">
                            <h1>Body Parts </h1>
                            <h5>Rs 2500</h5>
                        </div>
                    </div>
                  </div>
                  <div class="product-box">
                    <div class="image-wrapper">
                        <div class="image-box" style="background-image: url('/static/images/topsell4.jpg');">
                            <div class="add-to-cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></div>
                        </div>
                        <div class="price-box">
                            <h1>Oil Cells </h1>
                            <h5>Rs 2500</h5>
                        </div>
                    </div>
                  </div>
                  <div class="product-box">
                    <div class="image-wrapper">
                        <div class="image-box" style="background-image: url('/static/images/topsell5.jpg');">
                            <div class="add-to-cart"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></div>
                        </div>
                        <div class="price-box">
                            <h1>Black Shoe</h1>
                            <h5>Rs 2500</h5>
                        </div>
                    </div>
                  </div>
                  
                  </div>
            </div>
        </div>  
    </div>
{% endblock %}