table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.text-end {
  text-align: right!important;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
  position: relative;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.table-sm>:not(caption)>*>* {
  padding: 0.25rem 0.25rem;
}
.table>:not(caption)>*>* {
  padding: 0.5rem 1rem;
  border-bottom-width: 1px;
}
.keywords {
  margin:  10px auto;
  font-size: 1em;

}
.keywords header tr{
 background-color: lightslategray;
}
.product_edit{
  margin: 5px auto;
  max-height:  20%;
  max-width: 50%;
  background: linear-gradient(to right, rgb(204, 204, 211), rgb(228, 229, 230));
  color: #000;
}
