{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Manage products{% endblock %}
{% block javascript %}

<script >
   
</script>

{% endblock %}

{% block main %}
    <div class="container">
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle"></i>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}  
    </div>
    <div class="mx-3 my-5">
        <div class="container-fluid my-1">
            <div class="row">
                <div class="col-md-12 ms-sm-auto col-lg-12 ">
                    <div class="row row-cols-1 row-cols-lg-2 ">
                        <div class="col my-2">
                            <form  method="GET" action="" class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow" role="search" >
                                <a class="navbar-brand bg-primary col-md-3 col-lg-3 me-0 py-2 px-3 fs-6 d-none d-lg-block  d-xl-block d-xxl-none" href="#">{{user.first_name }}</a>
                                
                                <div class="input-group">
                                    <input name="search" 
                                    class="form-control form-control-secondary w-60 rounded-0 border-0"
                                    type="text" 
                                    placeholder="Search"
                                    aria-label="Search">
                                    <div class="input-group-append">
                                    <button class="btn btn-primary rounded-0 border-0" type="submit"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="col my-2">
                            <div class="d-flex justify-content-end flex-wrap flex-md-nowrap my-2 px-2 ">
                                <div class="d-flex justify-content-between">
                                    <div class="btn-group me-2 gap-1">
                                        
                                        <!-- Button trigger modal staticBackdropAddProduct -->
                                        <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdropAdd"><i class="bi bi-plus-square mx-1"></i> Add </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-trash3 mx-1"></i> Delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-printer mx-1"></i> Print</button>
                                       
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-plus-square mx-1"></i>new product
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'dashboard:add_category'%}" class="dropdown-item border-1" >Catagory</a></li>
                                            <li><a href="{% url 'dashboard:add_brand'%}" class="dropdown-item" >Brand</a></li>
                                            <li><a href="{% url 'dashboard:add_store'%}" class="dropdown-item" >Store</a></li>
                                            <li><a href="{% url 'dashboard:add_cost'%}" class="dropdown-item" >Cost</a></li>
                                            <li><a href="{% url 'dashboard:add_descriptions'%}" class="dropdown-item" >Descriptions</a></li>
                                            <li><a href="{% url 'dashboard:add_picture'%}" class="dropdown-item" >Images</a></li>
                                            <li><a href="{% url 'dashboard:add_productInformation'%}" class="dropdown-item" >product Information</a></li>
                                            <li><a href="{% url 'dashboard:add_productStock'%}" class="dropdown-item" >Product Stock</a></li>
                                        </ul>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-white"><p>Search Result<span>({{product_list|length}})</span></p></div>
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive" style="overflow:auto;">
                            <table class="table table-hover " id="keywords">
                        
                                <thead >
                                    <tr >
                                    <th scope="col">
                                        <div class="form-check"><input onchange="checkAll(this)"  class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /></div>
                                    </th> 
                                    <th class="pro_table" scope="col" >store</th>
                                    <th class="pro_table" scope="col" >product</th>
                                    <th class="pro_table" scope="col" >Brand</th>
                                    <th class="pro_table" scope="col" >Cost</th>
                                    <th class="pro_table" scope="col" >Tags</th>
                                    <th class="pro_table" scope="col" >Price</th>
                                    <th class="pro_table" scope="col">Discount"%"</th>
                                    <th class="pro_table" scope="col">Available</th>
                                    <th class="pro_table" scope="col">Category</th>
                                    <th class="pro_table" scope="col">Quntity</th>
                                    <th class="pro_table" scope="col">Supplier</th>
                                    <th class="pro_table" scope="col">Label</th>
                                    <th class="pro_table" scope="col">Return</th>
                                    <th class="pro_table" scope="col">States</th>
                                    <th class="pro_table" scope="col">Created</th>
                                    <th class="pro_table" scope="col">Update</th>
                                    <th class="pro_table" scope="col">Action</th>
                                    </tr>
                                </thead>
                                {% if product_list %}
                                <tbody >
                                    {% for product in product_list %}
                                    {% if  user == product.store.supplier.user%}
                                    <tr class="pro_table">
                                    <th scope="row"><div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" /></div></th>
                                        
                                    <td  class="lalign" >{{ product.store}}</td>
                                    <td>{{ product.product.part_number}}</td>
                                    <td>{{ product.brand}}</td>
                                    <td>{{ product.cost}}</td>
                                    <td>{{ product.tags}}</td>
                                    <td>{{ product.price}}</td>
                                    <td>{{ product.off_price_parentage}}</td>
                                    <td>{{ product.is_available}}</td>
                                    <td>{{ product.product.category}}</td>
                                    <td>{{ product.quantity}}</td>
                                    <td>{{ product.store.supplier}}</td>
                                    <td>{{ product.label}}</td>
                                    <td>{{ product.return_police}}</td>
                                    <td>{{ product.product_states}}</td>
                                    <td>{{ product.created}}</td>
                                    <td>{{ product.update}}</td>
                                    <td>
                                        <div class="btn-group me-2 gap-2" role="group" aria-label="First group">
                                            <a type="button" class="btn btn-sm btn-outline-primary" fdprocessedid="5bcwt" 
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-pencil-square"></i></a>
                                            <a href="{% url 'dashboard:delete_stack' product.slug %}" type="button" class="btn btn-sm btn-outline-primary" fdprocessedid="b0nvn"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </td>
                                    
                                    </tr>
                                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                        <div class="offcanvas-header">
                                            <h5 class="offcanvas-title" id="offcanvasRightLabel">Edit Product</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="row offcanvas-body gap-2">
                                            {% if product.product.category.slug %}
                                            <a href="{% url 'dashboard:updated_category' product.product.category.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" id="category">
                                                <i class="bi bi-pen mx-1"></i> <p> Category</p>
                                            </a>
                                            {% endif %}
                                            {% if product.brand.slug %}
                                            <a href="{% url 'dashboard:updated_brand' product.brand.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" >
                                                <i class="bi bi-pen mx-1"></i> <p> Brand</p>
                                            </a>
                                            {% endif %}
                                            {% if product.picture.slug %}
                                            <a href="{% url 'dashboard:updated_picture' product.picture.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" >
                                                <i class="bi bi-pen mx-1"></i> <p> Image</p>
                                            </a>
                                            {% endif %}
                                            {% if product.store.slug %}
                                            <a href="{% url 'dashboard:updated_store' product.store.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" >
                                                <i class="bi bi-pen mx-1"></i> <p> Store</p>
                                            </a>
                                            {% endif %}
                                            {% if product.product.description.slug %}
                                            <a href="{% url 'dashboard:updated_description' product.product.description.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" >
                                                <i class="bi bi-pen mx-1"></i> <p> Descriptions</p>
                                            </a>
                                            {% endif %}
                                            {% if product.product.slug %}
                                            <a href="{% url 'dashboard:updated_product' product.product.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" >
                                                <i class="bi bi-pen mx-1"></i> <p> Product</p>
                                            </a>
                                            {% endif %} 
                                            {% if product.slug %}
                                            <a  href="{% url 'dashboard:updated_ProductStock' product.slug %}" type="button" class="col-12 btn btn-sm btn-outline-primary product_edit" >
                                                <i class="bi bi-pen mx-1"></i> <p>Stack</p>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="btn-group btn-group-sm gap-1" role="group" aria-label="Small button group">
                                            oops you do not add any product to your store!! click to add products
                                    </div>
                                    
                                    {% endif %}
                                    {% endfor %}
                                    
                                </tbody>
                                {% endif %}
                                
                            </table>
                        </div>
                    </div>
                    
                </div>  
                <div class="mx-auto">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                        </ul>
                    </nav> 
                </div>
            </div>
        </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdropAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropAddLabel" aria-hidden="true">
        <div class="modal-dialog  modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropAddLabel">Add products</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="card border-primary m-auto mb-3 p-3" style="max-width: 50rem">
                    <form method="post" novalidate>
                      {% csrf_token %}
                      {{ form|crispy}}
                      <button class="form-control btn btn-success">submit</button>
                    </form>
                   
                  </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
 </div>
{% endblock %}